// Core

body {
  .app-sidebar-wrapper-lg {
    min-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    width: $sidebar-width;
  }

  .app-sidebar-menu {
    height: calc(100vh - #{$header-height});
  }

  .app-sidebar-wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 60;
    position: static;
    width: $sidebar-width;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
  }

  .app-sidebar-wrapper-fixed {
    position: fixed;
  }

  .app-sidebar-logo {
    width: 32px;
    height: 28px;
  }
}

@media (max-device-width: 700px) {
  body {
    .app-sidebar-wrapper {
      width: 300px;
    }
    .app-sidebar-wrapper-lg {
      width: 300px;
    }
  }
}
