//  Core
body {
  .app-footer {
    // height: $footer-height;
    min-height: 10vh;
    background: $footer-bg;
    background-color: #00274c;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    font-size: $font-size-sm;
    border-top: solid #fff 1px;

    &--inner {
      padding: 0 $layout-spacer;
      transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      @include media-breakpoint-up(xl) {
        justify-content: center;
      }

      @include media-breakpoint-down(lg) {
        display: block;
        text-align: center;

        .MuiList-root {
          justify-content: center;

          .MuiButtonBase-root {
            text-align: center;
          }
        }

        height: auto;
        padding: ($spacer / 3) ($spacer / 2) ($spacer / 2);
      }
    }

    @include media-breakpoint-down(lg) {
      display: block;
      text-align: center;

      .MuiList-root {
        justify-content: center;

        .MuiButtonBase-root {
          text-align: center;
        }
      }

      height: auto;
      padding: ($spacer / 3) ($spacer / 2) ($spacer / 2);
    }

    // &:hover {
    //   background: $footer-bg !important;
    // }

    &--second {
      color: white;
      span:first-child {
        display: block;
        margin-bottom: ($spacer / 2);
      }
      a {
        color: #e15505;
        &:hover {
          color: #e15505;
        }
      }
      padding-top: 1rem;
      text-align: center;
    }

    @include media-breakpoint-down(lg) {
      &--second {
        color: white;
        span:first-child {
          display: block;
          margin-bottom: ($spacer / 2);
        }
      }
    }
  }
}
